<br>
<h2>Veterinarians</h2>
<div class="grid-container">
    <button type="button" class="btn btn-outline-info btn-sm" [disabled]="!isSelected()"
        (click)="updateSelected()">Update selected</button>
    <button type="button" class="btn btn-outline-info btn-sm" [disabled]="!isSelected()"
        (click)="deleteSelected()">Delete selected</button>
    <ag-grid-angular class="ag-theme-fresh" [rowData]="rowData" [columnDefs]="columnDefs" [rowSelection]="'single'"
        (selectionChanged)="setSelectedRow($event)" (gridReady)="onGridReady($event)" suppressCellSelection="true">
    </ag-grid-angular>
</div>