
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

.formGroup{
    position: relative;
    width: 40%;
    margin: auto;
}

h2{
    text-align: center;    
}